<section class="features">
  <div class="container">
		<div class='row'>
			<div class='col-md-6'>
			  <div class='col-md-2'>
					<h1><i class="fa fa-terminal"></i></h1>
			  </div>
			  <div class='col-md-10'>
					<h2>CLI</h2>
					<p>UIs slow you down? <a href="https://github.com/theforeman/hammer-cli-foreman">Hammer CLI</a> gives you easy access to all the API calls you need to stay on top of your data center.</p>
			  </div>
			</div>
			<div class='col-md-6'>
				<div class='col-md-2'>
					<h1><i class="fa fa-wifi"></i></h1>
				</div>
				<div class='col-md-10'>
					<h2>Discovery</h2>
					<p>Unknown nodes on your provisioning network? <a href="plugins/foreman_discovery/3.0/">Discovery</a> will find them and register them in Foreman. You can define rules to decide what to do with discovered nodes.</p>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-6'>
        <div class='col-md-2'>
					<h1><i class="fa fa-user-plus"></i></h1>
				</div>
        <div class='col-md-10'>
					<h2>RBAC and LDAP integration</h2>
					<p>A thorough authorization system based on role based access control (RBAC) allows for tight policies for your Foreman users. If you use LDAP, or IPA, you can continue using them for authentication and authorization.</p>
				</div>
			</div>
			<div class='col-md-6'>
				<div class='col-md-2'>
					<h1><i class="fa fa-server"></i></h1>
				</div>
				<div class='col-md-10'>
					<h2>Host groups</h2>
					<p>Horizontal scaling is an ubiquitous architecture in IT. Group your hosts in groups, and modify their configuration as if they were one with Foreman.</p>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-6'>
				<div class='col-md-2'>
					<h1><i class="fa fa-plug"></i></h1>
				</div>
				<div class='col-md-10'>
					<h2>Plugins</h2>
					<p>A pluggable architecture allows you to extend Foreman in almost any direction. Visit our <a href="http://localhost:4000/documentation.html">list of plugins</a> for a glimpse. </p>
				</div>
			</div>
			<div class='col-md-6'>
				<div class='col-md-2'>
					<h1><i class="fa fa-files-o"></i></h1>
				</div>
				<div class='col-md-10'>
					<h2>Audits</h2>
					<p>No more wondering why did your load balancer suddenly became a database. Check how, who and when in our audits system.</p>
				</div>
			</div>
		</div>
	</div>
</section>
