---
pagename: Training
---
{% include header.html %}
<style>
.scaleframe {
  -ms-zoom: 0.5;
  -ms-transform-origin: 0 0;
  -moz-transform: scale(0.5);
  -moz-transform-origin: 0px 50px;
  -o-transform: scale(0.5);
  -o-transform-origin: 0px 50px;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: 0 0;
  width: 1024px;
  height: 780px;
  overflow: hidden;
}
</style>
<div id="wrap">
	<div class="container">
		<div class="row">
			<div id='doc' class="col-md-12">
				{{ content }}
			</div>
		</div>
	</div>
</div>
{% include tocify.html %}
{% include footer.html %}
